.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-backdrop {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn-2 .3s;
    background-color: #000;
}

.modal-backdrop.in {
    display: block;
    opacity: .5;
}


/* ----------- */

.modal {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: hidden;
    animation: fadeIn .3s;
    outline: 0;
}

.modal.in {
    display: block;
}

.modal-dialog {
    width: 480px;
    margin: 100px auto;
    border-top: 2px solid #ed5565;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.modal-dialog.small {
    width: 360px;
}

.modal-dialog.large {
    width: 560px;
}

.modal-dialog.xlarge {
    width: 720px;
}

.modal-dialog .modal-content {
    font-size: 14px;
    padding: 20px;
}

.modal-dialog .modal-header {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-dialog .modal-header .modal-title {
    font-weight: bold;
    color: #ed5565;
}

.modal-dialog .modal-header .modal-close {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 24px;
    height: 30px;
    cursor: pointer;
    transition: color .3s, transform .3s;
    transform: rotateZ(0deg);
    text-align: center;
    color: #ccc;
}

.modal-dialog .modal-header .modal-close:hover {
    transform: rotateZ(90deg);
    color: #ed5565;
}

.modal-dialog .modal-body {
    line-height: 24px;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.modal-dialog .modal-body .margin-auto {
    width: 480px;
    margin: 0 auto;
}

.modal-dialog .modal-body .row {
    clear: both;
    margin-bottom: 10px;
}

.modal-dialog .modal-body .row .hint {
    position: relative;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    color: #fff;
    border-radius: 2px;
    background-color: #ed5565;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.modal-dialog .modal-body .row .hint .content {
    font-size: 12px;
    line-height: 20px;
}

.modal-dialog .modal-body .row .hint .content span {
    font-weight: bold;
    margin-right: 5px;
}

.modal-dialog .modal-body .row .hint .hint-close {
    font-size: 10px;
    line-height: 24px;
    position: absolute;
    top: 8px;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform .3s;
    transform: rotateZ(0deg);
    text-align: center;
}

.modal-dialog .modal-body .row .hint .hint-close:hover {
    transform: rotateZ(90deg);
}

.modal-dialog .modal-body .row .control-label {
    line-height: 20px;
    float: left;
    width: 80px;
    padding: 5px 10px 0 0;
    text-align: right;
}

.modal-dialog .modal-body .row .control-input {
    font-size: 12px;
    line-height: 30px;
    float: left;
    height: 30px;
    resize: vertical;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.modal-dialog .modal-body .row textarea.control-input {
    width: 400px;
    height: 80px;
    padding: 0 5px;
}

.modal-dialog .modal-body .margin-auto .row textarea.control-input {
    width: 468px;
}

.modal-dialog .modal-footer {
    padding-top: 10px;
    text-align: right;
    border-top: 1px solid #eee;
}

.modal-dialog .modal-footer a.btn {
    text-decoration: none;
}

.modal-dialog .modal-footer .btn {
    line-height: 28px;
    display: inline-block;
    height: 28px;
    margin-left: 8px;
    padding: 0 15px;
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.modal-dialog .modal-footer .btn:hover {
    border-color: #d4d4d4;
    background-color: #d4d4d4;
}

.modal-dialog .modal-footer .btn.btn-sure {
    color: #fff;
    border-color: #ed5565;
    background-color: #ed5565;
}

.modal-dialog .modal-footer .btn.btn-sure:hover {
    border-color: #e82639;
    background-color: #e82639;
}


/* ------ 其他内嵌模板样式 ------ */

.modal-dialog .modal-body .row .tags-list {
    overflow: hidden;
}

.modal-dialog .modal-body .row .tags-list label {
    font-size: 12px;
    line-height: 20px;
    float: left;
    width: 100px;
    margin-top: 5px;
}

.modal-dialog .modal-body .row .hint-img {
    width: 100%;
    height: 24px;
}

.modal-dialog .modal-body .row .hint-img[data-for='monthly'] {
    background: url('../img/modal/img_67.jpg') 0 center no-repeat;
}

.modal-dialog .modal-body .row .hint-img[data-for='reward'] {
    background: url('../img/modal/img_68.jpg') 0 center no-repeat;
}

.modal-dialog .modal-body .row .radio-list {
    overflow: hidden;
}

.modal-dialog .modal-body .row .radio-list label {
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}


/* ------ animation ------ */

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeIn-2 {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: .5;
    }
}
