/**********************************
 * 层级说明
 * 
 * 1）反馈：fix-bar 900
 * 2) 模态蒙层：modal-backdrop 940
 * 3) 模态信息框：modal#_modal 950
 * 4) 模态提示框：modal#_alert 1050
 * 5) UE编辑器：edui-editor 999/899
 **********************************/


/* ------ navigator ------ */

.navigator {
    clear: both;
    background-color: #37b991;
}

.navigator-page {
    position: relative;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.navigator-navi {
    letter-spacing: 1px;
    color: #fff;
}

.navigator-navi .navigator-logo {
    float: left;
    width: 150px;
    height: 60px;
    background: url('../img/index/nav_logo.png') 0 center no-repeat;
}

.navigator-navi .navigator-menu {
    float: left;
    width: 30px;
    height: 60px;
    margin-left: 12px;
    cursor: pointer;
    background: url('../img/index/qbkc.png') center center no-repeat;
}

.navigator-navi .navigator-menu:hover .navigator-float {
    display: block;
}

.navigator-navi .navigator-list {
    float: left;
    height: 57px;
    margin: 3px 0 0 30px;
}

.navigator-navi .navigator-list a {
    font-size: 16px;
    line-height: 54px;
    float: left;
    margin-right: 30px;
    color: #fff;
    border-bottom: 3px solid transparent;
}

.navigator-navi .navigator-list a:hover {
    border-bottom-color: #fda128;
}

.navigator-navi .navigator-search {
    float: right;
    height: 60px;
    margin-right: 15px;
}

.navigator-navi .navigator-search input.search {
    font-size: 12px;
    width: 130px;
    height: 30px;
    margin-top: 12.5px;
    padding: 0 10px 0 26px;
    color: #555;
    border: 1px solid #fff;
    outline: none;
    background-image: url('../img/index/banner_search.png');
    background-repeat: no-repeat;
    background-position: 6px center;
}

.navigator-navi .navigator-search .search-list {
    display: none;
}

.navigator-navi .navigator-user {
    float: right;
}

.navigator-navi .navigator-user > li {
    font-size: 14px;
    line-height: 60px;
    float: left;
    margin: 0 8px;
}

.navigator-navi .navigator-user > li:first-child {
    margin-left: 3px;
}

.navigator-navi .navigator-user > li:last-child {
    margin-right: 0;
}

.navigator-navi .navigator-user .avatar {
    line-height: 60px;
    width: 50px;
    text-align: center;
}

.navigator-navi .navigator-user .info {
    position: relative;
}

.navigator-navi .navigator-user .info img {
    border-radius: 2px;
}

.navigator-navi .navigator-user .info .user-menu {
    position: absolute;
    z-index: 2;
    display: none;
}

.navigator-navi .navigator-user .info:hover .user-menu {
    display: block;
}

.navigator-navi .navigator-user .info .user-menu ul {
    position: relative;
    padding: 6px 0;
    border: 1px solid #ededed;
    background-color: #fff;
}

.navigator-navi .navigator-user .info .user-menu ul::before {
    position: absolute;
    top: -8px;
    left: 8px;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 7px solid #ededed;
    border-left: 6px solid transparent;
    background: transparent;
}

.navigator-navi .navigator-user .info .user-menu ul::after {
    position: absolute;
    top: -6px;
    left: 9px;
    content: '';
    border-right: 5px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 5px solid transparent;
    background: transparent;
}

.navigator-navi .navigator-user .info .user-menu li {
    line-height: 30px;
    width: 106px;
    height: 30px;
    text-align: center;
}

.navigator-navi .navigator-user .info .user-menu li:hover {
    background-color: #ededed;
}

.navigator-navi .navigator-user .info .user-menu li a {
    font-size: 13px;
    font-weight: normal;
    display: block;
    color: #333;
}

.navigator-navi .navigator-user a.link {
    display: inherit;
    color: #fff;
}

.navigator-float {
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 0;
    display: none;
}

.navigator-float-list {
    width: 241px;
    letter-spacing: 1px;
    border-right: 1px solid #37b991;
    background-color: #555;
}

.navigator-float-list a:hover {
    color: #37b991 !important;
}

.navigator-float-list li {
    width: 240px;
}

.navigator-float-list li .title {
    padding: 20px 20px 6px 20px;
}

.navigator-float-list li:hover .title,
.navigator-float-list li.active .title {
    padding: 19px 21px 6px 19px;
}

.navigator-float-list li .title a {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    display: block;
    color: #fff;
    background: url('../img/index/wrap_slide.png') center right no-repeat;
}

.navigator-float-list li .hot {
    margin: 0 15px;
    padding: 0 5px 20px 5px;
    border-bottom: 1px solid #707070;
}

.navigator-float-list li:hover .hot,
.navigator-float-list li.active .hot {
    margin: 0 14px;
    border-bottom: none;
}

.navigator-float-list li.last-item:hover .hot,
.navigator-float-list li.last-item.active .hot {
    margin-bottom: -1px;
}

.navigator-float-list li .hot a {
    line-height: 18px;
    display: inline-block;
    margin-right: 10px;
    color: #c8c8c8;
}

.navigator-float-list li:last-child .hot {
    border-bottom: none;
}

.navigator-float-list li:hover,
.navigator-float-list li.active {
    border: 1px solid #37b991;
    border-right-color: #fff;
    background-color: #fff;
}

.navigator-float-list li:hover .title a,
.navigator-float-list li.active .title a {
    font-weight: normal;
    color: #000;
}

.navigator-float-list li:hover .hot a,
.navigator-float-list li.active .hot a {
    color: #555;
}

.navigator-float-list .content {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 242px;
    display: none;
    width: 680px;
    height: 427px;
    border: 1px solid #37b991;
    border-left: none;
    background-color: #fff;
}

.navigator-float-list .content a {
    color: #333;
}

.navigator-float-list li:hover > .content,
.navigator-float-list li.active > .content {
    display: block;
}

.navigator-float-list .content .line-top {
    height: 160px;
    margin-top: 50px;
}

.navigator-float-list .content .line-mid {
    margin-top: 40px;
}

.navigator-float-list .content .line-title {
    font-size: 16px;
    margin: 0 50px 20px 50px;
    color: #37b991;
}

.navigator-float-list .content .line-list {
    line-height: 21px;
    margin: 0 50px;
}

.navigator-float-list .content .line-top .line-list a,
.navigator-float-list .content .line-mid .line-list a {
    display: inline-block;
    margin-bottom: 10px;
}

.navigator-float-list .content .line-top .line-list span,
.navigator-float-list .content .line-mid .line-list span {
    margin: 0 10px 10px 10px;
    color: #333;
}

.navigator-float-list .content .line-btm .line-list a {
    display: block;
    margin-bottom: 10px;
}


/* ------ fix-bar ------ */

.fix-bar {
    position: fixed;
    z-index: 900;
    right: 20px;
    bottom: 50px;
    border: 1px solid #ededed;
}

.fix-bar .line-top,
.fix-bar .line-mid,
.fix-bar .line-btm {
    width: 45px;
    height: 45px;
    background-color: #fff;
    background-image: url('../img/index/fix_opt.png');
    background-repeat: no-repeat;
    background-position: 0 -2px;
}

.fix-bar .line-top,
.fix-bar .line-mid {
    border-bottom: 1px solid #ededed;
}

.fix-bar .line-top:hover > .line-title,
.fix-bar .line-mid:hover > .line-title,
.fix-bar .line-btm:hover > .line-title {
    display: block;
}

.fix-bar .line-mid {
    background-position: 0 -52px;
}

.fix-bar .line-btm {
    background-position: 0 -102px;
}

.fix-bar .line-title {
    font-size: 14px;
    line-height: 17px;
    display: none;
    padding: 5px 6px 6px 5px;
    text-align: center;
    color: #fff;
    background-color: #37b991;
}


/* ------ pagination ------ */

.pagination {
    overflow: hidden;
    margin: 45px 0 15px 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    min-width: 16px;
    margin: 0 4px;
    border-radius: 2px;
}

.pagination li:hover {
    background-color: #eee;
}

.pagination li.active {
    background-color: #37b991;
}

.pagination li a {
    color: #555;
}

.pagination li.active a {
    color: #fff;
}

.pagination li a i {
    display: inline-block;
    float: none;
}


/* ------ footer ------ */

.footer {
    clear: both;
    margin-top: 30px;
    background-color: #555;
}

.footer-page {
    line-height: 1.6;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 38px;
    letter-spacing: 1px;
    color: #fff;
}

.footer-page-left {
    float: left;
    width: 46%;
}

.footer-page-left .desc {
    margin-bottom: 25px;
    padding-top: 40px;
    background: url('../img/index/footer_logo.png') 0 0 no-repeat;
}

.footer-page-left .copyright {
    overflow: hidden;
}

.footer-page-left .copyright span {
    margin-right: 21px;
}

.footer-page-right {
    float: right;
    width: 50%;
    text-align: right;
}

.footer-page-right .link {
    margin-bottom: 30px;
    padding-top: 40px;
}

.footer-page-right .link a {
    color: #fff;
}

.footer-page-right .link span {
    margin: 0 11px;
}

.footer-page-right .app .app-moblie {
    display: inline-block;
    width: 163px;
    height: 30px;
    background: url('../img/index/footer_pic1.png') 0 0 no-repeat;
}

.footer-page-right .app .app-tv {
    display: inline-block;
    width: 92px;
    height: 30px;
    margin-left: 25px;
    background: url('../img/index/footer_pic3.png') 0 0 no-repeat;
}


/* ------ banner ------ */

.banner {
    clear: both;
    width: 100%;
    margin-bottom: 50px;
}

.banner-page {
    overflow: hidden;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    color: #fff;
}

.banner-page img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.banner-page .swiper-bottom {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.banner-page .swiper-bottom .swiper-pagination {
    position: static;
    display: inline-block;
    overflow: hidden;
    padding: 4px 6px;
    border-radius: 15px;
    background-color: rgba(123, 123, 123, .3);
}

.banner-page .swiper-bottom .swiper-pagination span {
    float: left;
    margin: 0 5px;
}


/* ------ main ------ */

.main {
    clear: both;
}

.main-page {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.main-center {
    float: left;
    width: 940px;
}

.main-left {
    float: left;
    width: 240px;
    margin-right: 22px;
}

.main-right {
    float: right;
    width: 240px;
    margin-left: 20px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
}


/* for user */

.main.user .main-page {
    margin-top: 50px;
}

.main.user .main-center {
    float: left;
    width: 938px;
}

.main.user .panel {
    margin-bottom: 10px;
}

.main.user .main-center .panel {
    position: relative;
}

.main.user .panel-content.ajax-page {
    position: absolute;
    bottom: 15px;
    width: 100%;
}


/* ------ breadcrumb ------ */

.main-breadcrumb {
    width: 1200px;
    margin: 0 auto;
}

.breadcrumb {
    height: 30px;
    margin: 10px 0 -20px 0;
}

.breadcrumb li {
    font-size: 14px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    color: #555;
}

.breadcrumb li.active {
    color: #37b991;
}

.breadcrumb a {
    color: #555;
}

.breadcrumb a:hover {
    color: #37b991;
}


/* ------ sidebar ------ */

.sidebar-label {
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    color: #000;
}

.sidebar-label i {
    margin-top: -2px;
}

.sidebar-content {
    margin-top: 20px;
    color: #555;
}


/* discover */

.sidebar-content.discover {
    margin-right: -10px;
    margin-bottom: -2px;
}

.sidebar-content.discover span.tag {
    line-height: 23px;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0 8px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}


/* today-topic */

.sidebar-content.today-topic {
    margin-top: 12px;
    margin-bottom: 10px;
}

.sidebar-content.today-topic a {
    line-height: 20px;
    display: block;
    overflow: hidden;
    padding: 8px 0 9px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    color: #555;
    background: url('../img/index/split.png') 0 bottom repeat-x;
}


/* star-member */

.sidebar-content.star-member {
    margin-right: -20px;
    margin-bottom: -10px;
}

.sidebar-content.star-member .star-item {
    display: inline-block;
    width: 50px;
    height: 68px;
    margin: 0 20px 20px 0;
}

.sidebar-content.star-member .star-item img {
    float: left;
    width: 50px;
    height: 50px;
}

.sidebar-content.star-member .star-item span {
    line-height: 12px;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 12px;
    margin-top: 6px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}


/* course-recom */

.sidebar-content.course-recom {
    margin-bottom: -10px;
}

.sidebar-content.course-recom .course-item {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar-content.course-recom .course-item img {
    width: 100%;
    height: auto;
}

.sidebar-content.course-recom .course-item .course-line {
    overflow: hidden;
}

.sidebar-content.course-recom .course-item .course-line .title {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
    height: 20px;
    margin: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
}


/* ------ sidebar ------ */


/* user-info */

.user-info {
    padding: 25px 12px 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.user-info .img img {
    border-radius: 10px;
}

.user-info .name {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0 8px;
    color: #595757;
}

.user-info .operation {
    line-height: 21px;
}

.user-info .operation a {
    color: #999;
}


/* sidebar-navi */

.sidebar-navi .navi-list li {
    border-bottom: 1px solid #eee;
}

.sidebar-navi .navi-list > li .navi-title {
    font-size: 14px;
    line-height: 45px;
}

.sidebar-navi .navi-list > li .navi-title:hover {
    background-color: #eee;
}

.sidebar-navi .navi-list > li .navi-title a {
    display: block;
    color: #595757;
    border-left: 5px solid transparent;
}

.sidebar-navi .navi-list > li.active .navi-title a {
    color: #37b991;
    border-left-color: #37b991;
}

.sidebar-navi .navi-list > li .navi-title i {
    margin: 10px 14px 0 48px;
}

.sidebar-navi .navi-list > li .navi-title i.arrow {
    float: right;
    margin: 10px 7px 0 0;
}

.sidebar-navi .navi-list > li .navi-child {
    display: none;
    border-top: 1px solid #eee;
}

.sidebar-navi .navi-list > li .navi-child li {
    line-height: 45px;
    margin: 0 30px 0 50px;
}

.sidebar-navi .navi-list > li .navi-child li:last-child {
    border-bottom: none;
}

.sidebar-navi .navi-list > li .navi-child li a {
    font-size: 13px;
    margin-left: 55px;
    color: #595757;
}

.sidebar-navi .navi-list > li .navi-child li.active a,
.sidebar-navi .navi-list > li .navi-child li a:hover {
    color: #37b991;
}

.sidebar-navi .navi-list > li.active .navi-child {
    display: block;
}


/* group-info */

.sidebar-content.group-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-content.group-info .group-info-top {
    overflow: hidden;
    margin-bottom: 10px;
}

.sidebar-content.group-info .group-info-top .item-left {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.sidebar-content.group-info .group-info-top .item-right {
    float: right;
    width: 128px;
    height: 60px;
}

.sidebar-content.group-info .group-info-top .item-right .name {
    font-size: 16px;
    line-height: 24px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    color: #000;
}

.sidebar-content.group-info .group-info-top .item-right .ct-number {
    line-height: 20px;
    margin-top: 5px;
    color: #c8c8c8;
}

.sidebar-content.group-info .group-info-btm .btn {
    width: 196px;
}


/* ------ main-page ------ */


/* group-show */

.group-show-label {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}

.group-show-label i {
    float: left;
    width: 5px;
    height: 24px;
    margin-right: 10px;
    background-color: #37b991;
}

.group-show-top {
    height: 140px;
    margin-bottom: 20px;
}

.group-show-item {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.group-show-item .item-left {
    position: relative;
    float: left;
    margin-right: 20px;
}

.group-show-item .item-left .avatar {
    width: 120px;
    height: 120px;
}

.group-show-item .item-left .btn {
    position: absolute;
    bottom: 0;
    border-radius: 0;
}

.group-show-item .item-right {
    float: right;
    width: 218px;
}

.group-show-item .item-right .item-info-head {
    line-height: 22px;
    height: 22px;
    margin-top: 5px;
}

.group-show-item .item-right .item-info-head .name {
    font-size: 16px;
    color: #333;
}

.group-show-item .item-right .item-info-category {
    line-height: 20px;
    overflow: hidden;
    height: 20px;
    margin-top: 8px;
}

.group-show-item .item-right .item-info-category {
    margin-top: 10px;
}

.group-show-item .item-right .item-info-category span {
    display: inline-block;
    margin-right: 8px;
    color: #37b991;
}

.group-show-item .item-right .item-info-desc {
    line-height: 20px;
    overflow: hidden;
    height: 60px;
    margin-top: 5px;
    word-wrap: break-word;
    word-break: break-all;
    color: #555;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}


/* group-show large */

.group-show-item.large {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
}

.group-show-item.large .item-left .avatar {
    width: 130px;
    height: 130px;
}

.group-show-item.large .item-right {
    float: none;
    width: auto;
    margin-left: 150px;
}

.group-show-item.large .item-right .item-info-head .name {
    font-size: 24px;
    margin-right: 10px;
}

.group-show-item.large .item-right .item-info-desc {
    width: 728px;
    height: auto;
    min-height: 60px;
    margin-top: 8px;
}

.group-show-hot {
    float: right;
    width: 479px;
    height: 120px;
    margin-top: 20px;
    padding-left: 20px;
    border-left: 1px solid #ededed;
}

.group-show-hot li {
    clear: both;
}

.group-show-hot li a.topic {
    font-size: 14px;
    line-height: 40px;
    float: left;
    overflow: hidden;
    max-width: 400px;
    height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
}

.group-show-hot li a.topic i {
    margin-top: 4px;
}

.group-show-hot li .info {
    line-height: 20px;
    float: right;
    height: 20px;
    margin-top: 10px;
}

.group-show-btm {
    height: 280px;
    margin-bottom: 20px;
}

.group-show-btm .group-show-item .item-right {
    width: 280px;
}

.group-show-btm .group-show-item {
    margin-right: 38px;
}

.group-show-btm .group-show-item.nth-child-2n {
    margin-right: 0;
}

.group-show-bar {
    height: 30px;
}

.group-show-bar span {
    line-height: 30px;
}


/* discover-group */

.discover-group {
    width: 598px;
    height: 330px;
    margin: 0 auto;
}

.discover-group .page-navi {
    width: 40px;
    height: 40px;
    margin-top: 145px;
    cursor: pointer;
    opacity: .6;
    border-radius: 20px;
    background-color: #fff;
}

.discover-group .page-navi:hover {
    opacity: 1;
    background-color: rgba(150, 150, 150, .1);
}

.discover-group .page-navi.disabled {
    opacity: .6;
    background-color: #fff;
}

.discover-group .page-left {
    float: left;
    margin-right: 6px;
    margin-left: 6px;
    background: url('../img/index/page-navi-l.png') center center no-repeat;
}

.discover-group .page-right {
    float: right;
    margin-right: 6px;
    margin-left: 6px;
    background: url('../img/index/page-navi-r.png') center center no-repeat;
}

.discover-group .page-content {
    float: left;
    overflow: hidden;
    width: 494px;
    height: 240px;
    margin-top: 45px;
}

.discover-group .page-content ul {
    overflow: hidden;
    margin-right: -18px;
}

.discover-group .page-content li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin: 0 18px 20px 0;
    border-radius: 2px;
}

.discover-group .page-content li .name {
    font-size: 14px;
    line-height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100px;
    height: 35px;
    padding: 0 5px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}


/* group-topic */

.group-topic-bar {
    overflow: hidden;
    margin-bottom: -2px;
}

.group-topic-bar .bar-tab {
    font-size: 16px;
    float: left;
    padding: 0 10px 16px 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.group-topic-bar .bar-tab:hover,
.group-topic-bar .bar-tab.active {
    border-bottom-color: #37b991;
}

.group-topic-item {
    margin-top: 30px;
    border-bottom: 1px solid #ededed;
}

.group-topic-item .title {
    font-size: 18px;
    line-height: 32px;
}

.group-topic-item .title a {
    color: #333;
}

.group-topic-item .content {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    max-height: 60px;
    margin-top: 10px;
    text-overflow: clip;
    word-wrap: break-word;
    word-break: break-all;
    color: #555;
}

.group-topic-item .content p {
    margin: 0;
}

.group-topic-item .content img {
    display: none;
}

.group-topic-item .img {
    overflow: hidden;
    max-height: 75px;
    margin-top: 10px;
    margin-bottom: -3px;
}

.group-topic-item .img img {
    float: left;
    width: auto !important;
    max-width: 120px;
    height: 70px !important;
    margin: 0 3px 3px 0;
    border: 1px solid #ededed;
    border-radius: 2px;
}

.group-topic-item .status {
    line-height: 20px;
    overflow: hidden;
    margin: 16px 0;
    color: #c8c8c8;
}

.group-topic-item .status .float-left {
    margin-right: 16px;
}

.group-topic-item .status .float-right {
    margin-left: 16px;
}


/* topic-show */

.topic-show .title {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    display: inline-block;
    margin: 0;
}

.topic-show .btn-link {
    color: #c8c8c8;
}

.topic-show .info {
    line-height: 20px;
    overflow: hidden;
    margin-top: 25px;
}

.topic-show .info-left,
.topic-comment-item .item-left {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.topic-show .info-left img,
.topic-comment-item .item-left img {
    width: 50px;
    height: 50px;
}

.topic-show .info-mid,
.topic-comment-item .item-mid {
    float: left;
    overflow: hidden;
    width: 330px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.topic-show .info-mid .time {
    color: #c8c8c8;
}

.topic-show .info-right,
.topic-comment-item .item-right {
    float: right;
    width: 478px;
    margin-top: 28px;
}

.topic-show .info-right .status span,
.topic-comment-item .item-right .status span {
    margin-left: 16px;
    color: #c8c8c8;
}

.topic-show .info-right .status span.split {
    width: 2px;
    height: 16px;
    margin-top: 2px;
    background-color: #ddd;
}

.topic-show .info-right .status span.edit,
.topic-show .info-right .status span.delete {
    cursor: pointer;
}

.topic-show .content {
    line-height: 20px;
    margin-top: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.topic-show .content p {
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 5px 0;
    padding: 0;
}

.topic-show .content p:last-child {
    margin-bottom: 0;
}

.topic-show .content img,
.topic-show .img img,
.topic-comment-item .item-mid .img img {
    display: block;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: 480px !important;
    margin-bottom: 3px;
    border: 1px solid #ededed;
    border-radius: 2px;
}

.topic-show .btn-bar {
    height: 40px;
    margin-top: 50px;
}

.topic-show .btn-bar .btn-apply {
    margin-left: 252px;
}

.topic-show .share-bar {
    line-height: 35px !important;
    float: right !important;
}

.topic-show .share-bar .share_title,
.topic-show .share-bar .share-btn {
    float: left !important;
    margin-left: 10px !important;
}

.topic-show .share-bar .share-btn span {
    display: none !important;
}

.topic-show .motion {
    margin-top: 30px;
    margin-bottom: 50px;
}

.topic-show .motion .btn {
    margin-top: 30px;
}


/* topic-comment */

.topic-comment-bar .bar-tab {
    font-size: 16px;
    float: left;
    padding-bottom: 16px;
}

.topic-comment-bar .bar-sort {
    font-size: 16px;
    float: right;
    padding-bottom: 16px;
}

.topic-comment-bar .bar-sort span {
    margin-left: 8px;
}

.topic-comment-bar .bar-sort span.title {
    margin-right: 2px;
    color: #c8c8c8;
}

.topic-comment-bar .bar-sort span.sort i {
    margin-top: 1px;
    margin-right: 0;
    cursor: pointer;
}

.topic-comment-bar .bar-sort span.sort.active i.icon-sort-up {
    background-position: 0 -180px;
}

.topic-comment-bar .bar-sort span.sort.active i.icon-sort-dw {
    background-position: 0 -220px;
}

.topic-comment-item {
    line-height: 20px;
    display: inline-block;
    margin-top: 18px;
    padding-bottom: 20px;
    color: #555;
    border-bottom: 1px solid #ededed;
}

.topic-comment-item .item-content .content {
    line-height: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.topic-comment-item .item-content .content p {
    margin: 0;
    padding: 0;
}

.topic-comment-item .item-mid {
    width: 630px;
}

.topic-comment-item .item-mid .info span.time {
    margin-left: 8px;
    color: #a0a0a0;
}

.topic-comment-item .item-mid img {
    width: auto !important;
    max-width: 628px !important;
    height: auto !important;
}

.topic-comment-item .item-right {
    width: 178px;
    margin-top: -12px;
}

.topic-comment-item .item-right .floor {
    margin-bottom: 8px;
    text-align: right;
    color: #c8c8c8;
}

.topic-comment-item .item-right .status span {
    margin-left: 10px;
    cursor: pointer;
}

.topic-comment-item .item-right .status span.delete {
    display: none;
}

.topic-comment-item:hover .item-right .status span.delete {
    display: block;
}

.topic-comment-item .item-motion {
    margin-left: 70px;
}

.topic-comment-item .item-motion .motion {
    margin-bottom: 20px;
}

.topic-comment-item .item-motion .motion-ipt textarea {
    height: 120px;
}

.topic-comment-item .item-motion .motion-btn {
    height: 30px;
    margin-top: 10px;
}

.cke-panel {
    position: relative;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.cke-panel::after {
    font-size: 16px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: '正在载入...';
    text-align: center;
    letter-spacing: 2px;
    color: #ddd;
}

.cke-panel.H330 {
    min-height: 330px;
}

.cke-panel.H330::after {
    line-height: 330px;
}

.cke-panel.H360 {
    min-height: 360px;
}

.cke-panel.H360::after {
    line-height: 360px;
}


/* reply-list */

.reply-list {
    margin-left: 70px;
    padding: 20px 20px 0 20px;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.reply-list .reply-item {
    overflow: hidden;
}

.reply-list .item-mid {
    width: 610px;
    margin-top: 0;
}

.reply-list .item-right {
    width: 158px;
    margin-top: 20px;
}

.reply-list .item-motion {
    margin-left: 0;
}

.reply-list .reply-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.reply-list .reply-item.last-child,
.reply-list .reply-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.reply-list .reply-more {
    padding-bottom: 20px;
    cursor: pointer;
    text-decoration: underline;
}


/* recomply-list */

.recomply-list .recomply-item {
    padding-top: 20px;
    padding-left: 20px;
    background: url('../img/index/split.png') 0 top repeat-x;
}

.recomply-list .recomply-item .item-mid {
    width: 590px;
}


/* content-header */

.content-header {
    margin: 25px 28px 0 28px;
}

.content-header .title {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 23px;
    color: #37b991;
    border-bottom: 3px solid #37b991;
}

.content-header .tab-bar {
    line-height: 35px;
    height: 35px;
    margin: 15px 0;
    background-color: #f7f8f8;
}

.content-header .tab-bar .btn-tab {
    font-size: 13px;
    float: left;
    width: 119px;
    cursor: pointer;
    text-align: center;
    color: #999;
    border-right: 1px solid #eee;
    background-color: #eee;
}

.content-header .tab-bar .btn-tab.active,
.content-header .tab-bar .btn-tab:hover {
    color: #fff;
    background-color: #37b991;
}


/* group-content */

.group-content {
    margin: 25px 0 0 28px;
}

.group-content .group-item {
    float: left;
    width: 428px;
    margin: 0 20px 15px 0;
    border: 1px solid #eee;
}

.group-content .group-item .item-left {
    float: left;
    width: 100px;
    margin: 14px;
}

.group-content .group-item .item-right {
    float: left;
    overflow: hidden;
    width: 286px;
    margin: 14px 14px 14px 0;
}

.group-content .group-item .item-right .item-info-head a {
    font-size: 16px;
    line-height: 26px;
}

.group-content .group-item .item-right .item-info-info {
    line-height: 20px;
    height: 20px;
    margin-top: 6px;
}

.group-content .group-item .item-right .item-info-info .ct-number {
    margin-right: 20px;
}

.group-content .group-item .item-right .item-info-desc {
    line-height: 20px;
    overflow: hidden;
    height: 40px;
    margin-top: 6px;
    word-wrap: break-word;
    word-break: break-all;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    color: #999;
}


/* topic-content */

.topic-content {
    margin: 5px 28px 0 28px;
}

.topic-content .topic-item {
    line-height: 20px;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.topic-content .topic-item:hover {
    background-color: #f7f8f8;
}

.topic-content .topic-item .title {
    font-size: 14px;
    line-height: 24px;
}

.topic-content .topic-item .title i {
    margin: 0 10px;
}

.topic-content .topic-item .content {
    overflow: hidden;
    height: 20px;
    margin: 6px 10px 0 44px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}

.topic-content .topic-item .content img {
    display: none;
}

.topic-content .topic-item .status {
    margin: 6px 10px 0 44px;
    color: #999;
}

.topic-content .topic-item .btn-delete {
    line-height: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
}

.topic-content .topic-item:hover .btn-delete {
    color: #999;
    border-color: #999;
}


/* comment-content */

.topic-content.comment .topic-item {
    padding: 15px 0;
}

.topic-content.comment .topic-item .content,
.topic-content.comment .topic-item .status {
    margin-top: 5px;
}

.topic-content.comment .topic-item .title .title-content,
.topic-content.comment .topic-item .title span.content {
    float: left;
    overflow: hidden;
    max-width: 400px;
    height: 24px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}


/* activity-content */

.activity-content {
    margin: 25px 0 0 28px;
}

.activity-content .activity-item {
    line-height: 20px;
    float: left;
    width: 428px;
    margin: 0 20px 15px 0;
    border: 1px solid #eee;
}

.activity-content .activity-item .item-top {
    height: 20px;
    margin: 15px 15px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.activity-content .activity-item .item-top .title {
    font-size: 16px;
    float: left;
    overflow: hidden;
    width: 320px;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}

.activity-content .activity-item .item-top .txt-success,
.activity-content .activity-item .item-top .txt-disable {
    font-size: 14px;
    float: right;
}

.activity-content .activity-item .item-btm {
    margin: 0 0 15px 15px;
}

.activity-content .activity-item .item-btm .status {
    float: left;
    overflow: hidden;
    width: 140px;
    height: 20px;
    margin: 11px 15px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}

.activity-content .activity-item .item-btm .status.long {
    width: 240px;
}


/* inform-content */

.activity-content.inform {
    margin: 15px 0 0 28px;
}

.activity-content.inform .activity-item .item-top {
    padding-bottom: 12px;
}

.activity-content.inform .activity-item .item-btm {
    margin-bottom: 12px;
}

.activity-content.inform .activity-item .item-btm .status {
    margin-top: 9px;
}


/* ------ modal ------ */

#_alert {
    z-index: 1050;
}

.modal-header .close i {
    margin-right: 0;
    cursor: pointer;
}

.modal-footer .btn {
    font-weight: normal;
    line-height: 30px;
    width: 66px;
    height: 30px;
}


/* ------ ckeditor ------ */

.cke_bottom {
    border-top: none !important;
}

.cke_path {
    display: none !important;
}

.cke-panel.active .edui-default .edui-editor {
    border-color: #37b991;
}

.ue_replyView .hr {
    font-size: 16px;
    line-height: 20px;
    width: 440px;
    height: 20px;
    padding: 10px 0;
    text-align: center;
    color: #a6a6a6;
    background: url('../img/index/split.png') 0 center repeat-x;
}

.ue_replyView .hr span {
    padding: 0 5px;
    background-color: #fff;
}
