<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>ERROR | Grouk企业管理平台</title>
    <!-- FAVICONS -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../public/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="../public/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="../public/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../public/img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../public/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../public/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../public/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../public/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../public/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="icon" type="image/png" href="../public/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../public/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="manifest" href="../public/img/favicons/manifest.json" />
    <link rel="shortcut icon" href="../public/img/favicons/favicon.ico" />
    <!-- STYLE FILES -->
    <link rel="stylesheet" type="text/css" href="../public/fonts/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/base.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../public/css/skins.css" /> -->
    <link rel="stylesheet" type="text/css" href="../public/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/view.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../public/css/animation.css"> -->
    <!-- JAVASCRIPT FILES LIBS -->
    <script src="../public/lib/jquery.min.js"></script>
    <script src="../public/lib/bootstrap.min.js"></script>
    <script src="../public/lib/laytpl.min.js"></script>
    <script type="text/javascript">
    var Global = {
        base: '../public',
        path: '',
        ver: '20171025001'
    };
    </script>
</head>
<body class="page-body">
    <div class="page-container">
        <div class="main-content">
            <div class="page-error centered">
                <div class="error-symbol">
                    <i class="fa fa-warning"></i>
                    ERROR
                </div>
                <h2>
                    <small>请求的页面不存在！</small>
                </h2>
                <p>或者访问 <a href="index.html">主页</a></p>
                <pre>报错的内容显示在这里...</pre>
            </div>
        </div>
    </div>
</body>
</html>