<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="webkit" name="renderer">
  <title>登录 | Grouk企业管理平台</title>
  <!-- FAVICONS -->
  <meta content="#ffffff" name="msapplication-TileColor">
  <meta content="../public/img/favicons/mstile-144x144.png" name="msapplication-TileImage">
  <meta content="../public/img/favicons/browserconfig.xml" name="msapplication-config">
  <meta content="#ffffff" name="theme-color">
  <link href="../public/img/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="../public/img/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="../public/img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="../public/img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="../public/img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="../public/img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="../public/img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="../public/img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="../public/img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="../public/img/favicons/manifest.json" rel="manifest"/>
  <link href="../public/img/favicons/favicon.ico" rel="shortcut icon"/>
  <!-- STYLE FILES -->
  <link href="../public/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="../public/css/swiper.min.css" rel="stylesheet" type="text/css"/>
  <link href="../public/css/base.css" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" type="text/css" href="../public/css/skins.css" /> -->
  <link href="../public/css/custom.css" rel="stylesheet" type="text/css"/>
  <link href="../public/css/view.css" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" type="text/css" href="../public/css/animation.css"> -->
  <!-- JAVASCRIPT FILES LIBS -->
  <script src="../public/lib/jquery.min.js"></script>
  <script src="../public/lib/bootstrap.min.js"></script>
  <script src="../public/lib/laytpl.min.js"></script>
  <script type="text/javascript">
    var Global = {
      base: '../public',
      path: '',
      ver: '20171025001'
    };
  </script>
</head>
<body class="page-body skin-facebook">
<div class="login-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="login-info">
        <div class="logopanel">
          <img alt="logo" class="am-breathe" height="96" src="../public/img/default/144.png" title="<%= global.app %>"
               width="96"/>
          <h1><span>Grouk<br/><small>企业管理</small></span></h1>
        </div>
        <h4><strong>欢迎访问Grouk企业管理平台</strong></h4>
        <ul>
          <li><i class="fa fa-arrow-circle-o-right mr5"></i> 员工管理</li>
          <li><i class="fa fa-arrow-circle-o-right mr5"></i> 产品管理</li>
          <li><i class="fa fa-arrow-circle-o-right mr5"></i> 客户管理</li>
          <li><i class="fa fa-arrow-circle-o-right mr5"></i> 销售信息管理</li>
          <li><i class="fa fa-arrow-circle-o-right mr5"></i> 报销管理</li>
          <li><i class="fa fa-arrow-circle-o-right mr5"></i> 日报管理</li>
        </ul>
        <strong>没有帐号？请联系管理员创建</strong>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form">
        <div class="login-header">
          <a class="logo" href="#"><span>登录</span></a>
          <p>登录来访问后台管理。</p>
        </div>
        <div class="form-group">
          <label class="control-label" for="username">用户名</label>
          <input class="form-control uname" type="text"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="passwd">密码</label>
          <input class="form-control pword" type="password"/>
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-primary btn-block login" type="submit"><i class="fa fa-lock"></i> 登录</button>
        </div>
        <div class="login-footer">
          <a href="#">忘记密码？联系管理员修改</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="login-footer">
        <div class="pull-left">&copy; 2017. All Rights Reserved.</div>
        <div class="pull-right">Created By: <a href="https://grouk.com/" target="_blank">Grouk</a></div>
      </div>
    </div>
  </div>
</div>

<!-- footer public [start] -->
<!-- loading -->
<div class="page-loading-overlay">
  <div class="loader-2"></div>
</div>

<!-- Modal -->
<div aria-labelledby="myModal" class="modal fade" id="_modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">内容</div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary" data-dismiss="modal" data-value="sure" type="button">确定</button>
        <button class="btn btn-sm btn-white" data-dismiss="modal" data-value="cancel" type="button">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- Alert -->
<div aria-labelledby="myAlert" class="modal fade" id="_alert" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">内容</div>
    </div>
  </div>
</div>
<!-- JAVASCRIPT FILES LIB -->
<script src="../public/lib/TweenMax.min.js"></script>
<script src="../public/lib/bootstrap.datepicker.min.js"></script>
<script src="../public/lib/swiper.jquery.min.js"></script>
<script src="../public/lib/jquery.form.min.js"></script>
<script src="../public/lib/jquery.dragsort.min.js"></script>
<!-- JAVASCRIPT FILES CUSTOM -->
<script src="../public/js/resizeable.js"></script>
<script src="../public/js/toggles.js"></script>
<script src="../public/js/custom.js"></script>
<script src="../public/js/page.js"></script>
<!-- footer public [end] -->

</body>
</html>
