<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>后台管理 | 四月天数据报表平台</title>
    <!-- FAVICONS -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../public/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="../public/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="../public/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../public/img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../public/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../public/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../public/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../public/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../public/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../public/img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/img/favicons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="../public/img/favicons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="../public/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../public/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../public/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="manifest" href="../public/img/favicons/manifest.json" />
    <link rel="shortcut icon" href="../public/img/favicons/favicon.ico" />
    <!-- STYLE FILES -->
    <link rel="stylesheet" type="text/css" href="../public/fonts/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/skins.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/view.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../public/css/animation.css"> -->
    <!-- JAVASCRIPT FILES LIBS -->
    <script src="../public/lib/jquery.min.js"></script>
    <script src="../public/lib/bootstrap.min.js"></script>
    <script src="../public/lib/laytpl.min.js"></script>
    <script type="text/javascript">
    var Global = {
        base: '../public',
        path: '',
        ver: '20171025001'
    };
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a27fa74c6e949c2"></script>
</head>

<body class="page-body skin-facebook">
    <div class="page-container">
        <!-- sidebar [start] -->
        <div class="sidebar-menu toggle-others collapsed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <div class="logo">
                        <a href="index.html" class="logo-expanded">
                        <img src="../public/img/default/60.png" alt="logo" width="50" height="50" />
                        <span>四月天数据报表平台</span>
                    </a>
                        <a href="index.html" class="logo-collapsed">
                        <img src="../public/img/default/60.png" alt="logo" width="50" height="50" />
                    </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    <li>
                        <a href="javascript:;"><i class="fa fa-book"></i> <span class="title">图书报表</span></a>
                        <ul>
                            <li><a href="bookReport_daily.html"><span class="title">图书数据日报表</span></a></li>
                            <li><a href="bookReport_monthly.html"><span class="title">图书数据月报表</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-tags"></i> <span class="title">稿费结算报表</span></a>
                        <ul>
                            <li><a href="bookFinal_buy.html"><span class="title">买断图书结算报表</span></a></li>
                            <li><a href="bookFinal_divide.html"><span class="title">分成图书结算报表</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-tasks"></i> <span class="title">运营报表</span></a>
                        <ul>
                            <li><a href="recharge_daily.html"><span class="title">充值日报表</span></a></li>
                            <li><a href="recharge_monthly.html"><span class="title">充值月报表</span></a></li>
                            <li><a href="reward_daily.html"><span class="title">打赏日报表</span></a></li>
                            <li><a href="reward_monthly.html"><span class="title">打赏月报表</span></a></li>
                            <li><a href="subscription_daily.html"><span class="title">全站订阅日报表</span></a></li>
                            <li><a href="subscription_monthly.html"><span class="title">全站订阅月报表</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-exchange"></i> <span class="title">包月数据</span></a>
                        <ul>
                            <li><a href="payMonth_daily.html"><span class="title">包月数据日报表</span></a></li>
                            <li><a href="payMonth_monthly.html"><span class="title">包月数据月报表</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-wrench"></i> <span class="title">后台管理</span></a>
                        <ul>
                            <li><a href="member.html"><span class="title">用户列表</span></a></li>
                            <li><a href="demo.html"><span class="title">demo页</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- sidebar [end] -->
        <div class="main-content">
            <!-- searchbar [start] -->
            <nav class="navbar user-info-navbar user-info-navbar-skin-facebook" role="navigation">
                <ul class="user-info-menu left-links list-inline list-unstyled">
                    <li class="hidden-xs">
                        <a href="javascript:;" data-toggle="sidebar"><i class="fa-bars"></i></a>
                    </li>
                </ul>
                <ul class="user-info-menu right-links list-inline list-unstyled">
                    <li class="dropdown user-profile">
                        <a href="#" data-toggle="dropdown">
                        <img src="../public/img/default/uface.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                        <span>管理员 <i class="fa-angle-down"></i></span>
                    </a>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_follow_toolbox"></div>
                        <ul class="dropdown-menu user-profile-menu list-unstyled">
                            <li><a href="javascript:;" class="modify_info"><i class="fa fa-user"></i> 个人信息</a></li>
                            <li><a href="javascript:;" class="modify_pass"><i class="fa fa-wrench"></i> 密码修改</a></li>
                            <li><a href="../logout"><i class="fa fa-sign-out"></i> 退出</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- searchbar [end] -->
            <div class="page-title">
                <div class="title-env">
                    <h1 class="title">工作台</h1>
                    <p class="description">欢迎访问数据报表平台</p>
                </div>
                <div class="breadcrumb-env">
                    <ol class="breadcrumb bc-1">
                        <li><a href="#"><i class="fa-home"></i>主页</a></li>
                        <li class="active"><strong>工作台</strong></li>
                    </ol>
                </div>
            </div>
            <div class="index">
                <div class="it-title">Hello ~</div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- <div class="addthis_inline_follow_toolbox_w9yk"> -->
                <!-- <div class="addthis_toolbox addthis_default_style addthis_20x20_style"> -->
                <!-- <a class="addthis_button_facebook_like" li:counter="right" fb:like:layout="button_count" addthis:userid="GIGadgets.Fans" addthis:service="Facebook" addthis:username="GIGadgets.Fans" addthis:url="http://www.facebook.com/GIGadgets.Fans"></a> -->
                <!-- <a class="addthis_button_facebook_like" li:counter="right" fb:like:layout="button_count" fb:like:layout="button_count" fb:like:href="http://www.facebook.com/GIGadgets.Fans"></a> -->
                <!-- <a class="addthis_button_instagram_follow" li:counter="right" addthis:userid="Gigadgets" addthis:service="Instagram" addthis:username="Gigadgets" addthis:url="http://www.instagram.com/Gigadgets"></a> -->
                <!-- <a class="addthis_button_youtube_follow" li:counter="right" addthis:userid="UCnIRgEjIVLQMv4EAMgBs86Q" addthis:service="youtube" addthis:username="UCnIRgEjIVLQMv4EAMgBs86Q" addthis:usertype="channel"></a> -->
                <!-- <a class="addthis_button_twitter_follow_native" li:counter="right" tw:screen_name="genispire"></a> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a27fa74c6e949c2"></script> -->
                <!-- <div class="a2a_kit a2a_default_style"> -->
                <!-- <a class="a2a_button_facebook a2a_counter"></a> -->
                <!-- <a class="a2a_button_instagram a2a_counter"></a> -->
                <!-- <a class="a2a_button_linkedin a2a_counter"></a> -->
                <!-- <a class="a2a_button_reddit a2a_counter"></a> -->
                <!-- <a class="a2a_button_tumblr a2a_counter"></a> -->
                <!-- <a class="a2a_dd a2a_counter" href="https://www.addtoany.com/share"></a> -->
                <!-- </div> -->
                <!-- <script async src="https://static.addtoany.com/menu/page.js"></script> -->
                <!-- <div class="a2a_kit a2a_kit_size_20 a2a_default_style"> -->
                <!-- <a class="a2a_button_twitter a2a_counter" data-a2a-follow="genispire"></a> -->
                <!-- <a class="a2a_button_facebook a2a_counter" data-a2a-follow="GIGadgets.Fans"></a> -->
                <!-- <a class="a2a_button_instagram a2a_counter" data-a2a-follow="kevin"></a> -->
                <!-- <a class="a2a_button_pinterest a2a_counter" data-a2a-follow="Pinterest"></a> -->
                <!-- <a class="a2a_button_google_plus a2a_counter" data-a2a-follow="+google"></a> -->
                <!-- <a class="a2a_button_linkedin a2a_counter" data-a2a-follow="reidhoffman"></a> -->
                <!-- <a class="a2a_button_linkedin_company a2a_counter" data-a2a-follow="linkedin"></a> -->
                <!-- <a class="a2a_button_vimeo a2a_counter" data-a2a-follow="staff"></a> -->
                <!-- <a class="a2a_button_youtube a2a_counter" data-a2a-follow="YouTube"></a> -->
                <!-- <a class="a2a_button_youtube_channel a2a_counter" data-a2a-follow="UCF0pVplsI8R5kcAqgtoRqoA"></a> -->
                <!-- <a class="a2a_button_tumblr a2a_counter" data-a2a-follow="staff"></a> -->
                <!-- <a class="a2a_button_github a2a_counter" data-a2a-follow="torvalds"></a> -->
                <!-- <a class="a2a_button_foursquare a2a_counter" data-a2a-follow="dens"></a> -->
                <!-- <a class="a2a_button_snapchat a2a_counter" data-a2a-follow="teamsnapchat"></a> -->
                <!-- <a class="a2a_button_behance a2a_counter" data-a2a-follow="Adobe"></a> -->
                <!-- <a class="a2a_button_flickr a2a_counter" data-a2a-follow="flickr"></a> -->
                <!-- </div> -->
                <!-- <script async src="https://static.addtoany.com/menu/page.js"></script> -->
            </div>
        </div>
    </div>
    <!-- footer public [start] -->
    <!-- loading -->
    <div class="page-loading-overlay">
        <div class="loader-2"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="_modal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">内容</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" data-value="sure">确定</button>
                    <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" data-value="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Alert -->
    <div class="modal fade" id="_alert" tabindex="-1" role="dialog" aria-labelledby="myAlert">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">内容</div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT FILES LIB -->
    <script src="../public/lib/TweenMax.min.js"></script>
    <script src="../public/lib/bootstrap.datepicker.min.js"></script>
    <script src="../public/lib/swiper.jquery.min.js"></script>
    <script src="../public/lib/jquery.form.min.js"></script>
    <script src="../public/lib/jquery.dragsort.min.js"></script>
    <!-- JAVASCRIPT FILES CUSTOM -->
    <script src="../public/js/resizeable.js"></script>
    <script src="../public/js/toggles.js"></script>
    <script src="../public/js/custom.js"></script>
    <script src="../public/js/page.js"></script>
    <script src="../public/js/page.js"></script>
    <!-- footer public [end] -->
</body>

</html>