/* ------ 全局配置 ------ */

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: #6a6a6a;
}

body::after {
  position: absolute;
  z-index: 60;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  content: '';
  animation: fadeIn-2 .3s;
  opacity: .6;
  background-color: #222;
}

body.modal-open {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

body.modal-open::after {
  display: block;
}

h2 {
  font-size: 18px;
  margin: 5px 0 10px;
  color: #4a4a4a;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.col,
.choice,
.operation,
.btn {
  box-sizing: border-box;
}

.col {
  float: left;
  width: 50%;
  padding: 0 5px;
}

.col.bd-r {
  border-right: 1px solid #e7e7e7;
}


/* ------ navi ------ */

.navi {
  font-size: 15px;
  line-height: 44px;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 44px;
  text-align: center;
  color: #4d4d4d;
  border-bottom: 1px solid #f0efef;
  background-color: #fafafa;
}

.navi .close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  left: 15px;
  border-radius: 30px;
  background: url('../img/default/btn_close2.png') center center no-repeat;
  background-size: 29px 29px !important;
}


/* -- modfiy end -- */


/* ------ main ------ */

.main-page {
  overflow: hidden;
  /* -- modfiy start -- */
  padding: 54px 10px 64px 10px;
  /* -- modfiy end -- */
}

.page-header {
  padding: 0 5px 5px;
}

.page-content {
  font-size: 15px;
  line-height: 24px;
  padding-right: 5px;
}

.page-content img {
  display: block;
  max-width: 100% !important;
  margin-top: 6px;
}

.page-content .circle {
  padding: 0 10px 1px;
  border-bottom: 1px solid #6a6a6a;
}

.page-content .circle i {
  font-style: normal;
  line-height: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  background-color: #62c7a6;
}


/* ------ choice ------ */

.choice-list {
  font-size: 14px;
  padding-left: 5px;
  color: #4a4a4a;
}

.choice {
  line-height: 24px;
  position: relative;
  overflow: hidden;
  min-height: 60px;
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: color .3s, background-color .3s;
  border: 1px solid #e7e7e7;
  border-radius: 30px;
}

.choice.select {
  color: #fff;
  background-color: #9b9b9b;
}

.choice.correct::before,
.choice.wrong::before {
  position: absolute;
  top: 14px;
  left: 6px;
  width: 32px;
  height: 32px;
  content: '';
  background-size: 30px 30px !important;
}

.choice.correct::before {
  background: url('../img/default/icon_right.png') center center no-repeat;
}

.choice.select.correct {
  color: #4a4a4a;
  border-color: #30c59b;
  background-color: #e0f3ed;
}

.choice.wrong::before {
  background: url('../img/default/icon_wrong.png') center center no-repeat;
}

.choice.select.wrong {
  color: #4a4a4a;
  border-color: #fb8365;
  background-color: #fae6e1;
}

.choice .choice-val {
  line-height: 16px;
  float: left;
  width: 23px;
  height: 16px;
  margin-top: 16px;
  text-align: center;
  border-right: 1px solid #e7e7e7;
}

.choice .choice-txt {
  display: table;
  float: left;
  width: calc(100% - 38px);
  min-height: 48px;
  padding: 0 6px;
}

.choice .choice-txt .text {
  display: table-cell;
  vertical-align: middle;
}

.choice .choice-txt .text img {
  display: block;
  max-width: 100% !important;
  margin-top: 6px;
}


/* ------ fill ------ */

.fill-list {
  font-size: 14px;
  padding-left: 5px;
  color: #4a4a4a;
}

.fill {
  line-height: 24px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 10px 10px;
  transition: color .3s, background-color .3s;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.fill.correct::before,
.fill.wrong::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 32px;
  content: '';
  background-size: 30px 30px !important;
}

.fill.correct::before {
  background: url('../img/default/icon_right.png') center center no-repeat;
}

.fill.correct {
  color: #4a4a4a;
  border-color: #30c59b;
  background-color: #e0f3ed;
}

.fill.wrong::before {
  background: url('../img/default/icon_wrong.png') center center no-repeat;
}

.fill.wrong {
  color: #4a4a4a;
  border-color: #fb8365;
  background-color: #fae6e1;
}

.fill .fill-val {
  line-height: 24px;
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
}

.fill .fill-txt {
  float: left;
  width: calc(100% - 32px);
  padding-left: 6px;
}

.fill .fill-txt textarea {
  font-size: 14px;
  line-height: 24px;
  float: left;
  width: 100%;
  min-height: 48px;
  padding: 0;
  resize: vertical;
  border: none;
  background-color: transparent;
}


/* ------ operation ------ */

.operation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  padding: 10px;
  border-top: 1px solid #f0efef;
  background-color: #fff;
}

.btn {
  font-size: 18px;
  line-height: 44px;
  float: left;
  width: 100%;
  height: 44px;
  padding: 0;
  cursor: pointer;
  transition: color .3s, border-color .3s, background-color .3s;
  text-align: center;
  color: #c7c7c7;
  border: 1px solid #e7e7e7;
  border-radius: 40px;
  outline: none;
  background-color: #fff;
  -webkit-appearance: none;
}

.btn.btn-check {
  color: #fff;
  border-color: #63caa9;
  background-color: #63caa9;
}

.btn.disable {
  color: #fff;
  border-color: #c7c7c7;
  background-color: #c7c7c7;
}


/* ------ modal ------ */

.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  margin: 50px 100px;
  animation: fadeIn .3s;
}

.modal.fadeIn {
  display: block;
}

.modal-page {
  position: relative;
  overflow: hidden;
  height: 230px;
  padding-top: 47px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #4d4d4d;
}

.modal-header {
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px 10px 15px;
  color: #9b9b9b;
  background-color: #fff;
}

.modal-header span.close {
  float: right;
  width: 44px;
  height: 44px;
  background: url('../img/default/btn_close.png') center center no-repeat;
  background-size: 15px 16px !important;
  top: 0;
  right: 0;
  position: absolute;
}

.modal-body {
  overflow: auto;
  height: 100%;
}

.modal .content {
  margin: 15px 15px 0 15px;
}

.modal .content .answer {
  font-weight: bold;
  color: #4a4a4a;
}

.modal .content .detail {
  font-size: 14px;
  margin-top: 15px;
  color: #9b9b9b;
}

.modal .content .detail img {
  display: block;
  max-width: 100% !important;
  margin-top: 6px;
}

.modal .content:last-child {
  padding-bottom: 15px;
}


/* ------ animation ------ */

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn-2 {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: .6;
  }
}


/* ------ 多dpi配置 ------ */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .navi .close {
    background: url('../img/default/btn_close2@2x.png') center center no-repeat;
  }

  .choice.correct::before,
  .fill.correct::before {
    background: url('../img/default/icon_right@2x.png') center center no-repeat;
  }

  .choice.wrong::before,
  .fill.wrong::before {
    background: url('../img/default/icon_wrong@2x.png') center center no-repeat;
  }

  .modal-header span.close {
    background: url('../img/default/btn_close@2x.png') center center no-repeat;
  }
}

@media only screen and (min-device-pixel-ratio: 2) {
  .navi .close {
    background: url('../img/default/btn_close2@2x.png') center center no-repeat;
  }

  .choice.correct::before,
  .fill.correct::before {
    background: url('../img/default/icon_right@2x.png') center center no-repeat;
  }

  .choice.wrong::before,
  .fill.wrong::before {
    background: url('../img/default/icon_wrong@2x.png') center center no-repeat;
  }

  .modal-header span.close {
    background: url('../img/default/btn_close@2x.png') center center no-repeat;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .navi .close {
    background: url('../img/default/btn_close2@3x.png') center center no-repeat;
  }

  .choice.correct::before,
  .fill.correct::before {
    background: url('../img/default/icon_right@3x.png') center center no-repeat;
  }

  .choice.wrong::before,
  .fill.wrong::before {
    background: url('../img/default/icon_wrong@3x.png') center center no-repeat;
  }

  .modal-header span.close {
    background: url('../img/default/btn_close@3x.png') center center no-repeat;
  }
}

@media only screen and (min-device-pixel-ratio: 3) {
  .navi .close {
    background: url('../img/default/btn_close2@3x.png') center center no-repeat;
  }

  .choice.correct::before,
  .fill.correct::before {
    background: url('../img/default/icon_right@3x.png') center center no-repeat;
  }

  .choice.wrong::before,
  .fill.wrong::before {
    background: url('../img/default/icon_wrong@3x.png') center center no-repeat;
  }

  .modal-header span.close {
    background: url('../img/default/btn_close@3x.png') center center no-repeat;
  }
}
