body {
    min-width: 1200px
}

.mp-body {
    margin-left: 14px;
    margin-right: 14px
}

.weui-desktop-layout_global > .weui-desktop-layout__main > .weui-desktop-layout__main__area > .weui-desktop-layout__main__inner {
    width: 1200px
}

.page_appmsg_new .weui-desktop-layout__main__hd {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #f6f8f9
}

.page_appmsg_new .weui-desktop-layout__main__hd .page_nav, .page_appmsg_new .weui-desktop-layout__main__hd .appmsg_history {
    padding: 0;
    margin: 0
}

.page_appmsg_new .weui-desktop-layout__main__hd .appmsg_history p {
    padding: 0;
    background-color: transparent
}

.page_appmsg_new .weui-desktop-layout__main__hd .appmsg_history .appmsg_history_popup {
    margin-top: 10px
}

.page_appmsg_new .weui-desktop-layout__main__bd, .page_appmsg_new .weui-desktop-panel {
    padding: 0
}

.appmsg_preview_container {
    background-color: transparent
}

.appmsg_container_hd {
    padding: 24px 20px 0
}

.appmsg_input_area .edui-default .edui-toolbar {
    padding: 20px 45px
}

.appmsg_input_area .edui-default .edui-toolbar-primary {
    padding-bottom: 0
}

.edit_fixed .appmsg_container_hd {
    padding-top: 30px
}

.edit_fixed.page_appmsg_new .weui-desktop-layout__main__hd .page_nav {
    margin-left: 20px
}

.edit_fixed.page_appmsg_new .weui-desktop-layout__main__hd .appmsg_history {
    margin-right: 20px
}